# Ignore any Python environments:
fresh-env

# Ignore any pycache folders:
**/__pycache__

# Ignore any generated databases:
*.db

# Ignore local config files from being pushed up:
project_config.json